.navbar {
  margin-bottom: 30px;

  .navbar-link {
    background-color: #3c3c3c;
    border: none;
    border-radius: 100%;
    height: 40px;
    margin: 5px;
    width: 40px;

    &.active {
      background-color: var(--accent-color);
    }

    svg {
          fill: var(--txt-color)  !important;
          width: 22px !important;
          height: 22px !important;
          margin: auto;
          vertical-align: middle;
    }
  }
}
