.todo-add-container
  background-color: #ccc
  height: 60px
  left: 0
  padding: 10px 12vw 0
  position: fixed
  right: 0
  top: -60px

  &.visible
    top: 0

.todo-add-input
  background-color: #eee
  border: 1px solid #676767
  border-radius: 7px
  font-size: 21px
  padding: 2px 16px
  width: 100%
