.todo {
  &.complete .drag,
  &.complete {
    color: #9c9c9c;
  }

  &.uncomplete .drag,
  &.uncomplete {
    color: #fff;
  }

  .drag {
    height: 2rem;
  }

  code {
    background-color: #424242;
    padding: 1px 4px;
  }

  em {
    font-style: italic;
  }
}

.ui.input.add-todo {
  width: 100%;
  padding: 12px 0;

  &>input,
  &>input:focus {
    color: #fff;
  }
}
