
.todo .drag {
  height: 2rem;
}
.todo.complete .drag,
.todo.complete {
  color: #9c9c9c;
}
.todo.uncomplete .drag,
.todo.uncomplete {
  color: #fff;
}

.ui.input.add-todo {
  width: 100%;
  padding: 12px 0;
}
.ui.input.add-todo>input,
.ui.input.add-todo>input:focus {
  color: #fff;
}


.todo code {
  background-color: #424242;
  padding: 1px 4px;
}
.todo em {
  font-style: italic;
}
